<ion-view view-title="My Sample App">
  <ion-content class="dashboardContainer padding">
    <h1>Reserve a Loan</h1>
    <div class="row">
        <div class="col col-center">
            <div class="profPic">
            <img src="img/avatar.jpg" align="left">
            <span><h4 style="margin:0">John Mwenda</h4></span><br/>
            <span><h5 style="margin:0">ID:  504</h5></span>
            <span><h5 style="margin:0">Level:  Olive</h5></span>
            <span><h5 style="margin:0">Facebook Link</h5></span>
<!--                            <p>This is some text. <img src="img/avatar" 
            alt="Smiley face" width="42" height="42" style="vertical-align:middle"> 
            This is some text.</p>-->
            </div>
        </div>
     </div>
<!--    <hr style="width: calc(100% - 25%);
                       border-bottom: rgba(0, 0, 0, 0.6);margin-top:-4%;margin-left:19%;">-->
    
    <div class="list list-inset">
        <div class="item">
            <span style="font-size:18px">Ammount:</span> <span style="font-size:24px">Ksh 9,000</span>
        </div>
        <div class="item" style="font-size: 16px">
            Terms<br/>
            <span>20.75% Interest</span><br/><br/>
            <span>30 days period</span><br/><br/>
            <span>No Installments</span><br/><br/>  
        </div>
       
    </div>

    <button class="button button-block button-calm ink"  data-ink-color="#9DEAFF" 
            data-ink-opacity="1"  type="submit">
            Reserve Loan!
    </button>

    
  </ion-content>
</ion-view>
